* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffcc00;
}

.bodyCardOne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 10px solid rgb(0, 238, 255);
}

.title {
    border: none;
    margin-bottom: 15px;
}

.titleOne {
    text-align: center;
}

.bodyCardThree {
    height: 100vh;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border-radius: 5px;
    justify-content: space-between;
    border: 3px solid rgb(255, 255, 255);
}

.formulaireBoisson {
    font-size: 0.9rem;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 1.7px;
}

.typeBoisson {

    font-weight: bold;
}

.choix {
    font-size: 0.8rem;
}

.temperature {
    font-weight: bold;
}

.sucre {
    font-weight: bold;
}

.message {
    display: flex;
    justify-content: left;
    background-color: bisque;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2.5px;
}

.imageDeco {
    display: flex;
    justify-content: center;
}

.illustrationOne {
    height: 150px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid black;

}